.container {
    margin: 0px auto;
    width: 100%;
    background-color: #ffffff;
}

.btn {
    border-radius: 5px;
    border: 1px solid;
    height: 35px;
}

th {
    background: #0f4871;
    color: #fff;
}

#sample {
    text-align: center;
}

.clickableRow {
    cursor: pointer;
}

td:hover {
    color: #fff;
    background: #D98880;
}

.selected {
    background-color: tan;
    color: white;
    font: bolder;
}

.selectionbox {
    position: absolute;
    background: transparent;
    border: 1px dotted #000;
}

#s1 {
    font-size: 10px;
    width: 100%;
    font-size: 50px;
}

body {
    background-color: #E5E7E9;
}

@media screen and (max-width:1400px) {
    .container {
        width: 100%;
        font-size: 15px;
    }
    .btn {
        border-radius: 5px;
        border: 1px solid;
        height: 35px;
        height: 30%;
        width: 30%;
        font-size: 10px;
    }
    #s1 {
        font-size: 30px;
        width: 100%;
        .page-header {
            width: 100%;
        }
    }
    @media screen and (max-width:1000px) {
        .container {
            width: 100%;
            font-size: 15px;
        }
        .btn {
            border-radius: 5px;
            border: 1px solid;
            height: 35px;
            height: 30%;
            width: 30%;
            font-size: 10px;
        }
        #s1 {
            font-size: 30px;
            width: 100%;
        }
        .page-header {
            width: 100%;
        }
    }
    @media screen and (max-width:800px) {
        .container {
            width: 100%;
            font-size: 15px;
            position: fixed;
        }
        .btn {
            border-radius: 5px;
            border: 1px solid;
            height: 35px;
            height: 30%;
            width: 50%;
            font-size: 10px;
        }
        #s1 {
            font-size: 30px;
            width: 100%;
        }
        .page-header {
            width: 100%;
        }
    }
    @media screen and (max-width:620px) {
        .container {
            width: 100%;
            font-size: 10px;
        }
        .btn {
            border-radius: 5px;
            border: 1px solid;
            height: 35px;
            height: 30%;
            width: 30%;
            font-size: 10px;
            min-width: 50px;
        }
        #s1 {
            font-size: 30px;
            width: 100%;
        }
        .page-header {
            width: 60%;
        }
        #int {
            width: 30%;
        }
    }
    @media screen and (max-width:450px) {
        .container {
            width: 100%;
            font-size: 10px;
        }
        .btn {
            border-radius: 5px;
            border: 1px solid;
            height: 35px;
            font-size: 10px;
            min-width: 30px;
        }
        #s1 {
            font-size: 30px;
            width: 100%;
        }
        .page-header {
            width: 60%;
        }
        #int {
            width: 30%;
        }
    }
    @media screen and (max-width:100px) {
        .container {
            width: 100%;
            font-size: 5px;
        }
        .btn {
            border-radius: 5px;
            border: 1px solid;
            height: 35px;
            font-size: 5px;
            min-width: 20px;
        }
        #s1 {
            font-size: 30px;
            width: 100%;
        }
        table td tr {
            position: fixed;
        }
        .page-header {
            width: 60%;
        }
        #int {
            width: 30%;
        }
    }